@charset "UTF-8";
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,caption,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;outline:0;border:0;background:transparent;vertical-align:baseline;font-size:100%;}
table,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;outline:0;background:transparent;font-size:100%;}
/*table,tbody,tfoot,thead,tr,th,td{vertical-align:baseline;}*/
table{border-collapse:collapse;border-spacing:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,title{display:block;}
fieldset,img {border:0}
b{font-weight:normal;}
i{font-style:normal;}
u{text-decoration:none;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
ol,ul {list-style:none}
caption,th {text-align:left}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal}
q:before,q:after {content:''}
abbr,acronym {border:0}
input,select,label{vertical-align:middle;outline:none;}
body{font-size:12px;}
img{vertical-align:top;}
.img100 img{width:100%;height:auto;}
a{text-decoration:none;outline:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}
/*文字排版*/
.f12{font-size:12px}
.f13{font-size:13px}
.f14{font-size:14px}
.f16{font-size:16px}
.f18{font-size:18px}
.f20{font-size:20px}
.f24{font-size:24px}
.f30{font-size:30px}
.fb{font-weight:bold}
.fn{font-weight:normal}
.t2{text-indent:2em}
.lh16{line-height:16px}
.lh18{line-height:18px}
.lh20{line-height:20px}
.lh22{line-height:22px}
.lh24{line-height:24px}
.lh26{line-height:26px}
.lh28{line-height:28px}
.lh30{line-height:30px}
.lh35{line-height:35px}
.lh40{line-height:40px}
.lh50{line-height:50px}
.lh80{line-height:80px}
.lh100{line-height:100px}
.lh150{line-height:150%}
.lh180{line-height:180%}
.lh200{line-height:200%}
.unl{text-decoration:underline;}
.no_unl{text-decoration:none;}
.cp{cursor:pointer;}/*手型*/
.oh{overflow:hidden;}
/*字体*/
.fms{font-family:"宋体";}
.fmh{font-family:"黑体";}
.fmyh{font-family:"微软雅黑","黑体","宋体";}
.fma{font-family:arial;}
.fmab{font-family:arial black;}
.fmg{font-family:Georgia,Tahoma,Arial}
/*定位*/
.tl{text-align:left}
.tc{text-align:center}
.tr{text-align:right}
.bc{margin-left:auto;margin-right:auto;}
.bbn{border-bottom:none;}
.fl{float:left;display:inline}
.fr{float:right;display:inline}
.cb{clear:both}
.cl{clear:left}
.cr{clear:right}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{display:inline-block}* html .clearfix{height:1%}.clearfix{display:block}
.clear{clear:both;font-size:0;line-height:1px;height:1px}
.vm{vertical-align:middle}
.vt{vertical-align:top}
.vtimg img{vertical-align:top;}
.pr{position:relative}
.pa{position:absolute}
.abs-right{position:absolute;right:0}
.z1{z-index:1;}
.zoom{zoom:1}
.hidden{visibility:hidden}
.none{display:none}
.di{display:inline;}
.db{display:block;}
.dib{display:inline-block;}
.ww/*换行*/{word-wrap:break-word;word-break: break-all;}
/*长度高度*/
.w10{width:10px}
.w20{width:20px}
.w30{width:30px}
.w40{width:40px}
.w50{width:50px}
.w60{width:60px}
.w70{width:70px}
.w80{width:80px}
.w90{width:90px}
.w100{width:100px}
.w110{width:110px}
.w120{width:120px}
.w130{width:130px}
.w140{width:140px}
.w150{width:150px}
.w180{width:180px}
.w200{width:200px}
.w220{width:220px}
.w250{width:250px}
.w260{width:260px}
.w300{width:300px}
.w350{width:350px}
.w400{width:400px}
.w480{width:480px}
.w500{width:500px}
.w600{width:600px}
.w700{width:700px}
.w800{width:800px}
.w812{width:812px}
.w958{width:958px}
.w960{width:960px}
.w1000{width:1000px}
.w{width:100%}
.w1{width:10%}
.w2{width:20%}
.w3{width:30%}
.w4{width:40%}
.w49{width:48.93617021276595%;}
.w5{width:50%}
.w6{width:60%}
.w7{width:70%}
.w8{width:80%}
.w9{width:90%}
.h20{height:20px;}
.h22{height:22px;}
.h24{height:24px;}
.h26{height:26px;}
.h28{height:28px;}
.h30{height:30px;}
.h35{height:35px;}
.h40{height:40px;}
.h50{height:50px;}
.h80{height:80px;}
.h100{height:100px;}
.h150{height:150px;}
.h180{height:180px;}
.h200{height:200px;}
.h240{height:240px;}
.h{height:100%}
/*边距*/
.m5{margin:5px}
.m10{margin:10px}
.m15{margin:15px}
.m20{margin:20px}
.m30{margin:30px}
.mtb1{margin-top:1px;margin-bottom:1px;}
.mtb2{margin-top:2px;margin-bottom:2px;}
.mtb3{margin-top:3px;margin-bottom:3px;}
.mtb4{margin-top:4px;margin-bottom:4px;}
.mtb5{margin-top:5px;margin-bottom:5px;}
.mtb6{margin-top:6px;margin-bottom:6px;}
.mtb7{margin-top:7px;margin-bottom:7px;}
.mtb8{margin-top:8px;margin-bottom:8px;}
.mtb9{margin-top:9px;margin-bottom:9px;}
.mtb10{margin-top:10px;margin-bottom:10px;}
.mt1{margin-top:1px;}
.mt2{margin-top:2px;}
.mt3{margin-top:3px;}
.mt4{margin-top:4px;}
.mt5{margin-top:5px}
.mt6{margin-top:6px;}
.mt7{margin-top:7px;}
.mt8{margin-top:8px;}
.mt9{margin-top:9px;}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.mt30{margin-top:30px}
.mt45{margin-top:45px}
.mt50{margin-top:50px}
.mt100{margin-top:100px}
.mb1{margin-bottom:1px;}
.mb2{margin-bottom:2px;}
.mb3{margin-bottom:3px;}
.mb4{margin-bottom:4px;}
.mb5{margin-bottom:5px}
.mb6{margin-bottom:6px;}
.mb7{margin-bottom:7px;}
.mb8{margin-bottom:8px;}
.mb9{margin-bottom:9px;}
.mb10{margin-bottom:10px}
.mb15{margin-bottom:15px}
.mb20{margin-bottom:20px}
.mb30{margin-bottom:30px}
.mb45{margin-bottom:45px}
.mb50{margin-bottom:50px}
.mb100{margin-bottom:100px}
.mlr1{margin-left:1px;margin-right:1px}
.mlr2{margin-left:2px;margin-right:2px}
.mlr5{margin-left:5px;margin-right:5px}
.mlr10{margin-left:10px;margin-right:10px}
.mlr15{margin-left:15px;margin-right:15px}
.mlr20{margin-left:20px;margin-right:20px}
.mlr30{margin-left:30px;margin-right:30px}
.mlr50{margin-left:60px;margin-right:60px}
.mlr60{margin-left:60px;margin-right:60px}
.mlr80{margin-left:80px;margin-right:80px}
.mlr100{margin-left:100px;margin-right:100px}
.mlr140{margin-left:140px;margin-right:140px}
.ml1{margin-left:1px}
.ml2{margin-left:2px}
.ml3{margin-left:3px}
.ml4{margin-left:4px}
.ml5{margin-left:5px}
.ml6{margin-left:6px}
.ml7{margin-left:7px}
.ml8{margin-left:8px}
.ml9{margin-left:9px}
.ml10{margin-left:10px}
.ml15{margin-left:15px}
.ml20{margin-left:20px}
.ml30{margin-left:30px}
.ml40{margin-left:40px}
.ml50{margin-left:50px}
.ml60{margin-left:60px}
.ml70{margin-left:70px}
.ml100{margin-left:100px}
.mr1{margin-right:1px}
.mr2{margin-right:2px}
.mr5{margin-right:5px}
.mr10{margin-right:10px}
.mr15{margin-right:15px}
.mr20{margin-right:20px}
.mr30{margin-right:30px}
.mr50{margin-right:50px}
.mr60{margin-right:60px}
.mr80{margin-right:80px}
.mr100{margin-right:100px}
.mr140{margin-right:140px}
.mt0{margin-top:0px}
.mb0{margin-bottom:0px}
.ml0{margin-left:0px}
.mr0{margin-right:0px}
.p1{padding:1px;}.p2{padding:2px;}.p3{padding:3px;}.p4{padding:4px;}.p5{padding:5px;}
.p6{padding:6px;}
.p8{padding:8px;}
.p10{padding:10px;}
.p15{padding:15px;}
.p20{padding:20px;}
.p30{padding:30px;}
.p40{padding:40px;}
.p50{padding:50px;}
.plr5{padding-left:5px; padding-right:5px;}
.plr10{padding-left:10px; padding-right:10px;}
.plr15{padding-left:15px; padding-right:15px;}
.plr20{padding-left:20px; padding-right:20px;}
.plr30{padding-left:30px; padding-right:30px;}
.plr40{padding-left:40px; padding-right:40px;}
.plr50{padding-left:50px; padding-right:50px;}
.plr60{padding-left:60px; padding-right:60px;}
.plr70{padding-left:70px; padding-right:70px;}
.plr80{padding-left:80px; padding-right:80px;}
.plr90{padding-left:90px; padding-right:90px;}
.plr100{padding-left:100px; padding-right:100px;}
.pl1{padding-left:1px}.pl2{padding-left:2px}.pl3{padding-left:3px}.pl4{padding-left:4px}.pl5{padding-left:5px}
.pl10{padding-left:10px}
.pl15{padding-left:15px}
.pl20{padding-left:20px}
.pl25{padding-left:25px}
.pl30{padding-left:30px}
.pl40{padding-left:40px}
.pl50{padding-left:50px}
.pl60{padding-left:60px}
.pl70{padding-left:70px}
.pl80{padding-left:80px}
.pl90{padding-left:90px}
.pl100{padding-left:100px}
.pl120{padding-left:120px}
.pl150{padding-left:150px}
.pl500{padding-left:500px}
.pr1{padding-right:1px}.pr2{padding-right:2px}.pr3{padding-right:3px}.pr4{padding-right:4px}.pr5{padding-right:5px}
.pr10{padding-right:10px}
.pr15{padding-right:15px}
.pr20{padding-right:20px}
.pr30{padding-right:30px}
.pr50{padding-right:50px}
.pr100{padding-right:100px}
.ptb5{padding-top:5px;padding-bottom:5px}
.ptb10{padding-top:10px;padding-bottom:10px}
.ptb15{padding-top:15px;padding-bottom:15px}
.ptb20{padding-top:20px;padding-bottom:20px}
.ptb30{padding-top:30px;padding-bottom:30px}
.ptb50{padding-top:50px;padding-bottom:50px}
.pt5{padding-top:5px}
.pt10{padding-top:10px}
.pt15{padding-top:15px}
.pt20{padding-top:20px}
.pt30{padding-top:30px}
.pt50{padding-top:50px}
.pb5{padding-bottom:5px}
.pb10{padding-bottom:10px}
.pb15{padding-bottom:15px}
.pb20{padding-bottom:20px}
.pb30{padding-bottom:30px}
.pb50{padding-bottom:50px}
.pb100{padding-bottom:100px}
.pt0{padding-top:0px}
.pb0{padding-bottom:0px}
.pl0{padding-left:0px}
.pr0{padding-right:0px}
/*颜色*/
.red,a.redA{color:red;}/*红#f00*/
.red01,a.red01A{color:#c00;}
.green,a.greenA{color:green;}/*绿#008000*/
.green01,a.green01A{color:#00911b}/*2011-01-17*/
.blue,a.blueA{color:blue;}/*#蓝00f*/
.blue01,a.blue01A{color:#369;}
.blue02,a.blue02A{color:#69c;}
.blue03,a.blue03A{color:#303b4f;}
.blue04,a.blue04A{color:#2481bf;}
.blue05,a.blue05A{color:#377296;}
.blue06,a.blue06A{color:#016990;}
.blue07,a.blue07A{color:#56768c;}
.black,a.blackA{color:black;}/*黑#000*/
.gray,a.grayA{color:gray;}/*灰#808080*/
.gray01,a.gray01A{color:#999;}
.gray02,a.gray02A{color:#666;}
.gray03,a.gray03A{color:#333;}
.gray04,a.gray04A{color:#3f3f3f;}
.yellow,a.yellowA{color:yellow;}/*黄#ff0*/
.yellow01,a.yellow01A{color:#fff299;}
.orange,a.orangeA{color:orange;}/*橙#ffa500*/
.orange01,a.orange01A{color:#f60;}
.orange02,a.orange02A{color:#ea5404;}
.orange03,a.orange3A{color:#f55100;}
.orange04,a.orange4A{color:#fc0;}
.white,a.whiteA{color:white;}/*白#fff*/
.purple,a.purpleA{color:purple;}/*紫#800080*/
.cyan,a.cyanA{color:cyan;}/*青#0ff*/
a.redA:hover,a.red01A:hover,a.greenA:hover,a.green01:hover,a.green01A:hover,a.blueA:hover,a.blue01A:hover,a.blue02A:hover,a.blue03A:hover,a.blackA:hover,a.grayA:hover,a.gray01A:hover,a.gray02A:hover,a.gray03A:hover,a.gray04A:hover,a.cblue3:hover,a.cblue4:hover{color:#f60;}/*2010-12-18*/
a.orangeA:hover,a.orange01A:hover,a.orange02A:hover{text-decoration:underline;}
a.redA:hover,a.red01A:hover{text-decoration:underline;}
/*背景*/
.bgRed{background-color:red;}
.bgWhite{background-color:white;}
.bgGray{background-color:gray;}
.bgGray01{background-color:#ccc;}
.br1{border-radius:1px}.br2{border-radius:2px}.br3{border-radius:3px}.br4{border-radius:4px}.br5{border-radius:5px}.br6{border-radius:6px}.br7{border-radius:7px}.br8{border-radius:8px}.br9{border-radius:9px}.br10{border-radius:10px}
