<?xml version="1.0" encoding="UTF-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
  </configSections>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=114.115.210.216;Initial Catalog=QPProxyDB;User ID=sa;Password=yunbo0122.;" providerName="sqlserver2005" />
    <add name="DimoNetwork" connectionString="server=114.115.210.216;database=QPProxyDB;uid=sa;pwd=yunbo0122." providerName="System.Data.SqlClient" />
  </connectionStrings>
  <dataConfiguration defaultDatabase="DimoNetwork" />
    <appSettings> 
<add key="MobilePath" value="/MLogin.aspx" />
   <add key="92License" value="35C0B6A0C63242DAA9A912D1E17E1AED" />
	<add key="GameLic" value="E96MI-C7EG7-27KE2-3CKM5-G35K9" />
	<add key="SystemSetPath" value="/Config/PlanConfig.xml" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.0" />
    <pages controlRenderingCompatibilityVersion="4.0" />
	  <customErrors mode="Off" defaultRedirect="ErrorPage.aspx" />
  </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="login.aspx" />
                <add value="MLogin.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>