<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PlanService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
    </configSections>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=114.115.210.216;Initial Catalog=QPProxyDB;User ID=sa;Password=yunbo0122.;" providerName="sqlserver2005"/>
    <add name="DimoNetwork" connectionString="server=114.115.210.216;database=QPProxyDB;uid=sa;pwd=yunbo0122." providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <dataConfiguration defaultDatabase="DimoNetwork"/>
</configuration>
