<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
  </configSections>
  <connectionStrings>
	  <add name="Default" connectionString="Data Source=114.115.210.216;Initial Catalog=QPProxyDB;User ID=sa;Password=yunbo0122." providerName="sqlserver2005" />
	  <add name="DimoNetwork" connectionString="server=114.115.210.216;database=QPProxyDB;uID=sa;pwd=yunbo0122." providerName="System.Data.SqlClient" />
	  <add name="QPTreasureDB" connectionString="server=114.115.210.216;database=QPTreasureDB;uID=sa;pwd=yunbo0122." providerName="System.Data.SqlClient" />
  </connectionStrings>

  <dataConfiguration defaultDatabase="DimoNetwork" />
  <system.web>

    <compilation targetFramework="4.0" />
  </system.web>

</configuration>
