<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <!-- 应用程序前缀，为Session键值等提供唯一性保证 -->
    <add key="AppPrefix" value="sa" />
    <add key="IPDbFilePath" value="/ipconfig/ipdata.config" />
	  <add key="DBNativeWeb" value="Data Source=114.115.210.216; Initial Catalog=QPNativeWebDB; User ID=sa; Password=yunbo0122.; Pooling=true" />
	  <add key="DBPlatformManager" value="Data Source=114.115.210.216; Initial Catalog=QPPlatformManagerDB; User ID=sa; Password=yunbo0122.; Pooling=true" />
	  <add key="DBPlatform" value="Data Source=114.115.210.216; Initial Catalog=QPPlatformDB; User ID=sa; Password=yunbo0122.; Pooling=true" />
	  <add key="DBAccounts" value="Data Source=114.115.210.216; Initial Catalog=QPAccountsDB; User ID=sa; Password=yunbo0122.; Pooling=true" />
	  <add key="DBTreasure" value="Data Source=114.115.210.216; Initial Catalog=QPTreasureDB; User ID=sa; Password=yunbo0122.; Pooling=true" />
	  <add key="DBRecord" value="Data Source=114.115.210.216; Initial Catalog=QPRecordDB; User ID=sa; Password=yunbo0122.; Pooling=true" />
	  <add key="DBGameMatch" value="Data Source=114.115.210.216; Initial Catalog=QPGameMatchDB; User ID=sa; Password=yunbo0122.; Pooling=true" />
	  <add key="DBProxy" value="Data Source=114.115.210.216; Initial Catalog=QPProxyDB; User ID=sa; Password=yunbo0122.; Pooling=true" />

    <!-- Chart控件使用 -->
    <add key="ChartImageHandler" value="Storage=file;Timeout=20;Url=/TempImages/;" />
    <add key="CookiesName" value="" />
    <add key="CookiesExpireMinutes" value="" />
    <add key="CookiesPath" value="" />
    <add key="CookiesDomain" value="" />
    <!-- 密保卡模版配置 -->
    <add key="A1" value="9" />
    <add key="A2" value="15" />
    <add key="A3" value="24" />
    <add key="A4" value="268" />
    <add key="B1" value="1" />
    <add key="B2" value="88" />
    <add key="B3" value="25" />
    <add key="B4" value="76" />
    <add key="C1" value="185" />
    <add key="C2" value="28" />
    <add key="C3" value="65" />
    <add key="C4" value="205" />
    <add key="D1" value="72" />
    <add key="D2" value="39" />
    <add key="D3" value="11" />
    <add key="D4" value="31" />
    <add key="E1" value="52" />
    <add key="E2" value="220" />
    <add key="E3" value="7" />
    <add key="E4" value="105" />
    <add key="F1" value="99" />
    <add key="F2" value="117" />
    <add key="F3" value="93" />
    <add key="F4" value="18" />
    <!-- 密保卡模版配置-->
  </appSettings>
  <connectionStrings />
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="auto" uiCulture="auto" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->

    <pages controlRenderingCompatibilityVersion="3.5" validateRequest="false" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="gsp" namespace="Wuqi.Webdiyer" assembly="AspNetPager, Version=7.2.0.0, Culture=neutral, PublicKeyToken=fb0a0fe055d40fd4" />
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
    <httpModules>
      <!--<add name="UCHttpModule" type="Game.Facade.UCHttpModule,Game.Facade"/>-->
    </httpModules>
	<httpRuntime requestValidationMode="2.0" />
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
   
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
        <defaultDocument>
            <files>
                <add value="Login.aspx" />
            </files>
        </defaultDocument>
  </system.webServer>
</configuration>