<?xml version="1.0" encoding="UTF-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
  </configSections>
  <connectionStrings>
    <add name="QPProxyDB" connectionString="server=114.115.210.216;database=QPProxyDB;uid=sa;pwd=yunbo0122." providerName="System.Data.SqlClient" />
    <add name="QPNativeWebDB" connectionString="server=114.115.210.216;database=QPNativeWebDB;uid=sa;pwd=yunbo0122." providerName="System.Data.SqlClient" />
  </connectionStrings>
  <dataConfiguration defaultDatabase="QPProxyDB" />
  <system.web>
    <compilation targetFramework="4.0" />
    <httpRuntime executionTimeout="3600" maxRequestLength="1048576" />
    <customErrors mode="On" defaultRedirect="ErrorPage.aspx" />
  </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>